body {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: rgb(232, 230, 233);
  background-image: url("../images/plush-design-studio-l3N9Q27zULw-unsplash.jpg");
  background-size: 550px 465px;
  background-repeat: repeat-x;
}
header {
    display: flex;
    height: 100px;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid;
    border-radius: 34px;
    padding-bottom: 0;
}
.question {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.color-circle {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-left: 10px;
  background-color: #2196F3;
  border: 2px solid;
  border-radius: 100%;
}
.switch_div {
    display: flex;
}
.eng_label {
    display: inline-block;
    align-items: center;
    padding-left: .5em;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.span_label {
    display: inline-block;
    align-items: center;
    padding-right: .5em;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.answers {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    height: 300px;
    font-size: 30px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.answer1 {
    border: 2px solid rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 100px;
    font-weight: bold;
    border-radius: 34px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.answer2 {
    border: 2px solid rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 100px;
    font-weight: bold;
    border-radius: 34px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.answer3 {
    border: 2px solid rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 100px;
    font-weight: bold;
    border-radius: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }

  input:not(:checked) + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  img {
      float: left;
      width: 4em ;
      height: auto;
      margin-right: 1em;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 3em;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }