/* Global styles
-------------------------------*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color:#343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
a {  
    color: #343434;
}
a:hover {
    text-decoration: none;
}
h1 {
    margin-top: 0;
    font-size: 80px;
    line-height: 1;
    text-align: center;
}
h2 {
    font-size: 40px;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
header {
    text-align: center;
}
.flex-nav {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    position: sticky;
    top: 0px;
}
.flex-nav-item {
    background: #A1C6D7;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 100px;
    text-decoration: none;
    font-weight: bold;
}
.flex-nav-item:hover {
    background-color: goldenrod;
    flex: 1 1 130px;
    transition: all .3s;
}
.content-wrap {
    max-width: 800px;
    width: 75%;
    margin: 0 auto;
    padding: 60px 0;
}
.soft-title {
    margin-bottom: 17.55px;
}
p {
    margin-bottom: 0;
}
h3 {
    margin-bottom: 0;
}
h3 + p {
    margin-top: 0;
}
.divider > section {
    border-bottom: 1px solid #343434;
}
.divider > section:last-of-type {
    border-bottom: none;
}

/* Profile
-------------------------------*/
header {
    background: #2F3061;
    color: #F7FFF7;
}

.summary {
    background: #2F3061;
    color: #F7FFF7;
    background-image: url(../images/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg);
    background-size: cover;
    background-position: top right;
}

/* Education
-------------------------------*/
.education {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}
.education h3, .education p {
    width: 70%;
}

/* Software Experience
-------------------------------*/
.software-experience {
    background: #F7fff7;
}
.soft-image {
    align-self: baseline;
}
.flex-soft {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.flex-soft-item {
    align-self: center;
}
#softBtn {
    white-space: pre-wrap;
}

/* Work Experience
-------------------------------*/
.work-experience {
    background: #A1C6D7;
}
.company {
    padding: 0;
    margin-bottom: 0;
}
.date {
    padding: 0;
    margin-top: 0;
}

/* Projects
-------------------------------*/
.projects {
    background: #F7FFF7;
}
.project-info {
    padding-bottom: 17.55px;
    border-bottom: 1px solid #343434;
}
.project-info h3 {
    margin-bottom: 16px;
}
#water-plant {
    width: 420px;
    padding: 20px 20px;
    float: right;
}
#fsa {
    width: 400px;
    padding-top: 20px;
    padding-right: 20px;
    float: left;
}
#phoneapp {
    width: 375px;
    padding: 0px 0px 20px 20px;
    float: right;
}
@media (max-width: 730px) {
    #water-plant {
        padding: 20px;
        float: none;
    }
    #fsa {
        padding: 20px;
        float: none;
    }
    #phoneapp {
        padding: 20px;
        float: none;
    }
}
@media (max-width: 500px) {
    #water-plant {
        width: 330px;
        padding-right: 50px;
        float: none;
    }
    #fsa {
        width: 330px;
        padding-right: 50px;
        float: none;
    }
    #phoneapp {
        width: 330px;
        padding-right: 50px;
        float: none;
    }
}
/* Contact Info
-------------------------------*/
footer {
    text-align: center;
    background: #343434;
    color: #F7FFF7;
}
footer a {
    color: #FFE66D;
    display: block;
}